<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
    <title>Face | Recognition</title>
</head>
<h1>Facial Recognition</h1>

<body>

<h3>Facial Atractiveness Scores</h3>
    <h4>Score – [0.0 ~ 3.9]</h4>
        <p>With this face analysis score, the results may determine a very unattractive face because there is hardly any symmetry with the features. It also may not be human or the coordinates are placed incorrectly.</p>
    <h4>Score – [4.0 ~ 4.9]</h4>
        <p>With this face analysis score, the results determine a very unattractive face as the symmetry is farther off than the average photo.</p>
    <h4>Score – [5.0 ~ 5.9]</h4>
        <p>With this face analysis score, the results determine an unattractive face because the symmetry is not inline.</p>
    <h4>Score – [6.0 ~ 6.9]</h4>
        <p>With this face analysis score, the results determine an average face because the facial symmetry is almost there.</p>
    <h4>Score – [7.0 ~ 7.9]</h4>
        <p>With this face analysis score, the results may determine an attractive face because the symmetry is close to perfect.</p>
    <h4>Score – [8.0 ~ 8.9]</h4>
        <p>With this face analysis score, the results may determine a very attractive face because the features are very exact.</p>
    <h4>Score – [9.0 ~ 10]</h4>
        <p>With this face analysis score, the results are unrealistic because you  may be super beautiful or your photo is already retouched.</p>
<div class="container">
    <form action="/" method="POST">
        <div class="formstyled__CollapsibleSection-sc-10y31ts-3 hyZraS">
                <div class="Collapsiblestyled__GroupContainer-sc-1jnyd9z-0 kBjymV FlexLayouts__FlexColStartCenter-sc-1j19v2f-14 VEvFu">
                        <div class="Collapsiblestyled__TitleWrapper-sc-1jnyd9z-3 lhcnhb FlexLayouts__FlexRowStartCenter-sc-1j19v2f-9 itUPwi">
                            <img class="Collapsiblestyled__Icon-sc-1jnyd9z-4 dncCfV" data-animation="" src="/static-assets/default/collapseArrowIconEmptyRight.svg">
                            <span class="Collapsiblestyled__Title-sc-1jnyd9z-5 eMpQWR">Required Parameters</span>
                        </div>
                </div>
                <div class="Collapsiblestyled__ItemsContainerSimple-sc-1jnyd9z-2 KSQKE" data-animation="checked">
                        <div class="ParameterFieldstyled__Wrapper-te6qkc-0 cIZoPn FlexLayouts__FlexRowStartStart-sc-1j19v2f-10 hsRtid">
                            <div class="ParameterFieldstyled__Left-te6qkc-1 gXtpZU FlexLayouts__FlexColSpaceBetweenStart-sc-1j19v2f-12 ciNpWW">
                                <span class="ParameterFieldstyled__ParameterName-te6qkc-3 fzgXbi">image</span>
                                <span class="ParameterFieldstyled__ParameterType-te6qkc-4 dcrgiO">BINARY</span>
                            </div>
                            <div class="ParameterFieldstyled__Right-te6qkc-2 dNMxgJ FlexLayouts__FlexColStartStart-sc-1j19v2f-15 jEvgCS">
                                <input type="file" class="fileFieldstyled__InputField-sc-1opstyj-0 dJdQPZ Inputstyled__Input-dpve8l-0 bjPklg" id="53aa4928e4b0a9b1348da006">
                                <div class="ParameterFieldstyled__ParameterDescriptionSection-te6qkc-5 fHAgDa FlexLayouts__FlexRowStartStart-sc-1j19v2f-10 hsRtid">
                                    <span class="ParameterFieldstyled__Required-te6qkc-6 jxgPxy">REQUIRED</span>
                                    <span class="ParameterFieldstyled__ParameterDescription-te6qkc-7 deURHR">
                                        Image you would like to find faces on. For supported image files and limitations please refer to the documentation: http://apicloud.me/apis/facerect/docs
                                    </span>
                                </div>
                            </div>
                        </div>
                </div>
        </div>
    </form>
</div>
</body>
</html>