h1 {
    font-size: 30px;
    color: #ff3333;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

h3{
    font-size: 30px;
    color: #ff3333;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

h4 {
    font-size: 30px;
    color: #ff3333;
    margin-bottom: 0;
    font-weight: normal;
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

body{
    width: 600px;
    margin: 0 auto;
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

p{
    color: #E64A19;
    font-family: 'ZCOOL XiaoWei', sans-serif;
}